body {
  background-color: hsl(0, 0%, 84%);
  font-family: "indie flower";
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
